
<div class="card">
  <div class="card-body">
    <div class="container">
      <div class="row">
        <div class="offset-md-2 col-md-8">
          <div class="mat-card">
            <ng-container *ngIf="registrationForm">
              <form novalidate (ngSubmit)="save()" [formGroup]="registrationForm" class="mat-form">
                <h3 class="text-center">{{ pageTitle }}</h3>
                 <!-- Customer Type and info-->
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="input-field-box">      
                        <select id="custTypeId" formControlName="custTypeId" required>
                          <option value="Select">Select</option>
                          <option *ngFor="let customerType of customerTypes" value={{customerType.id}}>{{ customerType.name }}</option>
                        </select>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Customer Type</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-field-box">      
                        <input type="number" formControlName="custId" id="custId" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Employee Number</label>
                    </div>
                    </div>
                  </div>
                  
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="input-field-box">      
                        <input id="firstNameId" type="text"  formControlName="firstName" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>First name</label>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-field-box">      
                        <input id="lastNameId" type="text" formControlName="lastName" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Last Name</label>
                    </div>
                    </div>
                  </div>
                  
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="input-field-box">      
                        <input id="userNameId" type="email" formControlName="userName" inputmode="email" required [class.is-invalid]="registrationForm.get('userName')?.invalid && registrationForm.get('userName')?.touched"/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email Address</label>
                        <div *ngIf= " submitted && registrationForm.get('userName')?.errors" class="alert alert-danger">
                          <div *ngIf="registrationForm.get('userName')?.errors">
                            Incorrect Email address
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-field-box">      
                          <input type="tel">
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Phone Number</label>
                        </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="input-field-box">      
                        <input id="passwordId" type="password" formControlName="password" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                        <div *ngif="submitted && registrationForm.get('password').errors" class="alert alert-danger">
                          <div *ngif="registrationForm.get('password').errors.required">
                            Password requires a capital letter, a number and special character
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="input-field-box">      
                        <input id="retypepasswordId" type="password" formControlName="confirmPassword" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Confirm Password</label>
                        <div *ngIf=" submitted && registrationForm.get('confirmPassword')?.errors" class="alert alert-danger">
                          <div *ngIf="registrationForm.get('confirmPassword')?.errors">
                            Confirm Password is required
                          </div>
                          <div *ngIf="registrationForm.get('confirmPassword')?.errors">
                            Passsword and Confirm Password didn't match.
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12 text-center">
                    <button type="submit" class="btn mat-btn">Submit</button>
                  </div>
                </div>  

              </form>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

