
<mat-tab-group  mat-align-tabs="center" > 
    <!--<mat-tab label="General Overview"> 
       
      <h3>PAGE UNDER CONSTRUCTION, USE Reports</h3>
      <div style="display: block;">
        <canvas baseChart width="400" height="400"
          [type]="'line'"
          [data]="lineChartData"
          [options]="lineChartOptions"
          [legend]="lineChartLegend">
        </canvas>
      </div>
    </mat-tab>-->
    <!--<mat-tab label="Service Overview"></mat-tab> -->
    <mat-tab label="Reports"> 
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div  class="hello" style="margin-top:1%;">
        
          <div class="form-field" style='width:20%; margin-right:5%;'>

            <mat-form-field style='width:100%;'>
              <mat-label>Select an report</mat-label>
              <mat-select [(value)]="selected">
                <mat-option value="option0">None</mat-option>
                <mat-option value="option1">Total Revenue</mat-option>
               <!-- <mat-option value="option2">Total Vouchers Count Reports</mat-option>-->
                <mat-option value="option3">Served Ala-carte Report</mat-option>
                <mat-option value="option4">Served Vouchers Report</mat-option>
                <mat-option value="option5">served Summary Report</mat-option>
               <!-- <mat-option value="option6">Remaining Voucher Summary Report</mat-option> -->
              </mat-select>
            </mat-form-field>
            
        
          </div>
          <div class="form-field" >
            
            <mat-form-field style='width:50%; margin-right: 2%'>
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
        
        
            
              <mat-error *ngIf="range.controls.start.hasError('matStartDateInvalid')">Invalid start date</mat-error>
              <mat-error *ngIf="range.controls.end.hasError('matEndDateInvalid')">Invalid end date</mat-error>
            </mat-form-field>
            <button class="mark button primary-button" mat-button  style="width: 5%; margin-right: 0.9%;">Preview</button>
            <button class="mark button secondary-button" mat-button (click)="exportToCSV()">Export to CSV</button>
        
          </div>
        

        
        </div>
    
      </form>


    
      <div *ngIf="isSubmitClicked && servedData.length > 0">
        
    
        <div class="mat-elevation-z8"  *ngIf="showTable && selected === 'option3'">
          <h3 style= " width:100%; text-align:center;">Served Ala-carte Report</h3>
        
            <!--<button mat-raised-button (click)="downloadPDF('json', false)"> download pdf </button>-->
          <table *ngIf="selected === 'option3'" mat-table [dataSource]="servedData" #dataSource matSort (matSortChange)="announceSortChange($event)">
              
        
          
        
            <!-- Name Column -->
            <ng-container matColumnDef="dateServed">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Date Served </th>
              <td mat-cell *matCellDef="let item as servedData"> {{ item.dateServed | date }} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="custTypeName">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Customer Type Name </th>
              <td mat-cell *matCellDef="let item as servedData"> {{ item.custTypeName }} </td>
            </ng-container>
    
              <!-- Symbol Column -->
              <ng-container matColumnDef="menuName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Menu Name </th>
                <td mat-cell *matCellDef="let item as servedData"> {{ item.menuName }} </td>
              </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="maxTarriff">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Tariff </th>
              <td mat-cell *matCellDef="let item as servedData"> {{ item.maxTarriff }} </td>
            </ng-container>
    
            <!-- Symbol Column -->
            <ng-container matColumnDef="dateEntered">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Date Ordered </th>
              <td mat-cell *matCellDef="let item as servedData"> {{ item.dateEntered | date }} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <div *ngIf="servedData.length === 0">
              <p>No data available.</p>
            </div>
          </table>
          <mat-paginator
  [length]="servedData.length"
  [pageSize]="pageSize"
  [pageSizeOptions]="pageSizeOptions"
  (page)="handlePage($event)"
></mat-paginator>

    
        </div>
        
      </div>
     
      <div *ngIf="isSubmitClicked && revenueData.length > 0">
        <!-- Total Revenue Table -->
        <div class="mat-elevation-z8" *ngIf="selected === 'option1'">
          <h3 style="width:100%; text-align:center;">Total Revenue</h3>
          <table mat-table [dataSource]="revenueData" #dataSource matSort (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="transDate">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Transaction Date</th>
              <td mat-cell *matCellDef="let item of revenueData">{{ item.transDate | date }}</td>
            </ng-container>
            <ng-container matColumnDef="username">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by text">Username</th>
              <td mat-cell *matCellDef="let item of revenueData">{{ item.username }}</td>
            </ng-container>
            <ng-container matColumnDef="customerType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by text">Customer Type</th>
              <td mat-cell *matCellDef="let item of revenueData">{{ item.customerType }}</td>
            </ng-container>
            <ng-container matColumnDef="amountPaid">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Amount Paid</th>
              <td mat-cell *matCellDef="let item of revenueData">{{ item.amountPaid | currency: 'NGN'}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedTotalRevenueColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedTotalRevenueColumns;"></tr>
            <div *ngIf="revenueData.length === 0">
              <p>No data available.</p>
            </div>
          </table>
        </div>
      </div>
    
      
      <div *ngIf="isSubmitClicked && totservedData.length > 0">
        <!-- Total Served Table -->
        <div class="mat-elevation-z8" *ngIf="selected === 'option4'">
          <h3 style="width:100%; text-align:center;">Served Report</h3>
          <table mat-table [dataSource]="totservedData" #dataSource matSort (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="dateServed">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Served Date</th>
              <td mat-cell *matCellDef="let item of ServedReportModel">{{ item.dateServed | date }}</td>
            </ng-container>
            <ng-container matColumnDef="servedBy">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Served By</th>
              <td mat-cell *matCellDef="let item of ServedReportModel">{{ item.servedBy }}</td>
            </ng-container>
            <ng-container matColumnDef="customerType">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by text">Customer Type</th>
              <td mat-cell *matCellDef="let item of ServedReportModel">{{ item.customerType }}</td>
            </ng-container>
            <ng-container matColumnDef="voucherDescription">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by text">Voucher Description</th>
              <td mat-cell *matCellDef="let item of ServedReportModel">{{ item.voucherDescription }}</td>
            </ng-container>
            <ng-container matColumnDef="amount">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Amount</th>
              <td mat-cell *matCellDef="let item of ServedReportModel">{{ item.amount| currency: 'NGN' }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedTotalServedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedTotalServedColumns;"></tr>
            <div *ngIf="totservedData.length === 0">
              <p>No data available.</p>
            </div>
          </table>
        </div>
      </div>
      

      <div *ngIf="isSubmitClicked && servedSummaryData.length > 0">
        <!-- Total Served Summary Table -->
        <div class="mat-elevation-z8" *ngIf="selected === 'option5'">
          <h3 style="width:100%; text-align:center;">Served Report</h3>
          <table mat-table [dataSource]="servedSummaryData" #dataSource matSort (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="month">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Served Date</th>
              <td mat-cell *matCellDef="let item of totservedData">{{ item.month }}</td>
            </ng-container>
            <ng-container matColumnDef="day">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Served By</th>
              <td mat-cell *matCellDef="let item of totservedData">{{ item.day }}</td>
            </ng-container>
            
            <ng-container matColumnDef="voucherDescription">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by text">Voucher Description</th>
              <td mat-cell *matCellDef="let item of totservedData">{{ item.voucherDescription }}</td>
            </ng-container>
            <ng-container matColumnDef="totalServedIDs">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Count</th>
              <td mat-cell *matCellDef="let item of totservedData">{{ item.totalServedIDs }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedTotalServedSummaryColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedTotalServedSummaryColumns;"></tr>
            <div *ngIf="servedSummaryData.length === 0">
              <p>No data available.</p>
            </div>
          </table>
        </div>
      </div>    
      
      <div *ngIf="isSubmitClicked && unservedData.length > 0">
        <!-- Total Served Summary Table -->
        <div class="mat-elevation-z8" *ngIf="selected === 'option6'">
          <h3 style="width:100%; text-align:center;">Remaining Unserved Voucher Report</h3>
          <table mat-table [dataSource]="unservedData" #dataSource matSort (matSortChange)="announceSortChange($event)">
            <ng-container matColumnDef="enteredByUsername">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Served Date</th>
              <td mat-cell *matCellDef="let item of unservedData">{{ item.enteredByUsername }}</td>
            </ng-container>
            <ng-container matColumnDef="dateEntered">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date">Served By</th>
              <td mat-cell *matCellDef="let item of unservedData">{{ item.dateEntered }}</td>
            </ng-container>
            
            <ng-container matColumnDef="voucherDescription">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by text">Voucher Description</th>
              <td mat-cell *matCellDef="let item of unservedData">{{ item.voucherDescription }}</td>
            </ng-container>
            <ng-container matColumnDef="servedUnits">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Count</th>
              <td mat-cell *matCellDef="let item of unservedData">{{ item.servedUnits }}</td>
            </ng-container>
            <ng-container matColumnDef="totalUnits">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Count</th>
              <td mat-cell *matCellDef="let item of unservedData">{{ item.totalUnits }}</td>
            </ng-container>
            <ng-container matColumnDef="remainingUnits">
              <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number">Count</th>
              <td mat-cell *matCellDef="let item of unservedData">{{ item.remainingUnits }}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedUnservedReportColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedUnservedReportColumns;"></tr>
            <div *ngIf="unservedData.length === 0">
              <p>No data available.</p>
            </div>
          </table>
        </div>
      </div>    
      
     
    </mat-tab>
</mat-tab-group>