 <div class="signin-content">
  <mat-card>

    <mat-card-content>
      <img src="assets/images/logo.png" alt="Logo" class="logo-image" />
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>Please login to continue</p>
        <mat-form-field class="full-width-input">
          <input matInput placeholder="User/Email" id="userName" formControlName="userName" (input)="form.controls.userName.setValue(form.controls.userName.value.toLowerCase())" required>
          <mat-error *ngIf="isFieldInvalid('userName')">
            Please enter your user name/Email
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width-input">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="isFieldInvalid('password')">
            Please enter your password
          </mat-error>
        </mat-form-field>

        
      
        <button mat-raised-button color="primary">Login</button>
        <button mat-raised-button  (click)="openDialog()">Register</button>
      </form>
      <a mat-button routerLink="../forgot-password">Forgot Password?</a>

    </mat-card-content>
    <div class="card-header" class="red-alert">
      {{loginMessage}}
    </div>
  </mat-card>
</div>
