<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input type="text"
               [(ngModel)]="listFilter" />
      </div>

    </div>
    <div class="row"
         *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf=" pymtByCust && pymtByCust.length">
        <thead>
          <tr>
            <th style="display: none">id</th>
            <th style="display: none">Customer Type</th>
            <th>Customer Code</th>
            <th style="display: none">Date Entered</th>
            <th>Entered By</th>
            <th style="display: none">Voucher Description</th>
            <th> Available Amount</th>
            <th style="display: none">custtypeid</th>
            <th style="display: none">voucherid</th>
            <th style="display: none">paymentmodeid</th>
            <!-- <th>Password</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pymtdetails of filteredPaymentDetails">
           
            <td>{{ pymtdetails.custCode }}</td>
           
            <td>{{ pymtdetails.enteredBy }}</td>
          
            <td>{{ formatWithCommas(pymtdetails.totalAmount) }}</td>
           
            <!-- <td>{{ registration.password }}</td> -->
            <td>
            </td>
            <td>
              <!-- <button class="btn btn-outline-primary btn-sm"
              (click)="updatepayment(pymtdetails)">
                Served
              </button> -->
              <button class="btn btn-outline-primary btn-sm" (click)="navigateToDetails(pymtdetails)">
                View Details
              </button>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

