<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>

  <div class="hero_sec d-flex  align-items-center">
    <div class="container p-3" style="background-color: rgb(0, 35, 85); border: 2px solid #000; border-radius: 10px;">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="card bg-white rounded-4 p-2 mb-lg-0 mb-3"
                    data-tor="inview:bg(primary) , hover:bg(danger)">
                    <div class="hstack gap-3">
                        <div class="p-2">
                            <h3 class="fs-6 text-black-50 lh-1">SERVED TODAY</h3>
                            <strong class="fs-5 lh-1">{{dailyServedCount}}</strong>
                        </div>
                        <div class="p-2 ms-auto rounded-circle badge" style="background-color: rgb(0, 35, 85); border: 2px solid #000; border-radius: 10px;">
                          <mat-icon> functions</mat-icon>
                            <i class="fa-brands fa-btc color-white fs-5 d-inline-block w-16"></i>
                        </div>
                    </div>
                    <!--<p class="text-black-50 fw-semibold fs-6 ps-2"><a href="#"
                            class="link-info text-decoration-none fw-bold">+55%</a>
                        since yesterday</p>-->
                </div>
            </div>
           <!-- <div class="col-lg-3 col-md-6">
                <div class="card bg-white rounded-4 p-2 mb-lg-0 mb-3">
                    <div class="hstack gap-3">
                        <div class="p-2">
                            <h3 class="fs-6 text-black-50 lh-1">TODAY'S USERS</h3>
                            <strong class="fs-5 lh-1">2,300</strong>
                        </div>
                        <div class="p-2 ms-auto rounded-circle bg-danger badge ">
                            <i class="fa-solid fa-earth-asia color-white fs-5"></i>
                        </div>
                    </div>
                    <p class="text-black-50 fw-semibold fs-6 ps-2"><a href="#"
                            class="link-info text-decoration-none fw-bold">+3%</a>
                        since week</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card bg-white rounded-4 p-2 mb-lg-0 mb-3">
                    <div class="hstack gap-3">
                        <div class="p-2">
                            <h3 class="fs-6 text-black-50 lh-1">NEW CLIENTS</h3>
                            <strong class="fs-5 lh-1">+3,462</strong>
                        </div>
                        <div class="p-2 ms-auto rounded-circle bg-info badge ">
                            <i class="fa-solid fa-file-invoice color-white fs-5"></i>
                        </div>
                    </div>
                    <p class="text-black-50 fw-semibold fs-6 ps-2"><a href="#"
                            class="link-danger text-decoration-none fw-bold">-2%</a>
                        last quarter</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="card bg-white rounded-4 p-2 mb-lg-0 mb-3">
                    <div class="hstack gap-3">
                        <div class="p-2">
                            <h3 class="fs-6 text-black-50 lh-1">SALES</h3>
                            <strong class="fs-5 lh-1">$103,430</strong>
                        </div>
                        <div class="p-2 ms-auto rounded-circle bg-warning badge ">
                            <i class="fa-solid fa-cart-shopping color-white fs-5"></i>
                        </div>
                    </div>
                    <p class="text-black-50 fw-semibold fs-6 ps-2"><a href="#"
                            class="link-info text-decoration-none fw-bold">+5%</a>
                        than last month</p>
                </div>
            </div>-->
        </div>
    </div>
  </div>

  <div class="card-body">
    <div class="row">
      
      <div class="col-md-4">
        <form novalidate #formRef="ngForm" (ngSubmit)="applySieveFilters()" class="booking-form form-inline">
         
          <input type="text" name="custcode" [(ngModel)]="filterValue" required placeholder="Customer Code" />
          <button type="submit" class="btn btn-secondary booking-form--submit" [disabled]="formRef.invalid">Search</button>
        </form>
        
      </div>
      

    </div>
    
    
    
    <div class="row"
         *ngIf="listFilter">
      <div class="col-md-6">
       <!-- <h4>Filtered by: {{listFilter}}</h4> -->
      </div>
    </div>

    <div class="table-responsive">
      <table class="table mb-0"
             *ngIf=" pymtByCust && pymtByCust.length">
        <thead>
          <tr>
            <th style="display: none">id</th>
            <th style="display: none">Customer Type</th>
            <th>Customer Code</th>
            <th style="display: none">Date Entered</th>
            <th>Customer Name</th>
            <th style="display: none">Voucher Description</th>
            <th> Available Amount</th>
            <th style="display: none">custtypeid</th>
            <th style="display: none">voucherid</th>
            <th style="display: none">paymentmodeid</th>
            <!-- <th>Password</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pymtdetails of filteredPaymentDetails">
           
            <td>{{ pymtdetails.custCode }}</td>
           
            <td>{{ pymtdetails.enteredbyName }}</td>
          
            <td>{{ formatWithCommas(pymtdetails.totalAmount) }}</td>
           
            <!-- <td>{{ registration.password }}</td> -->
            <td>
            </td>
            <td>      
              <span class="material-icons" *ngIf="pymtdetails.freeze">
                report_off
              </span>
            </td>
            <td>
              <!-- <button class="btn btn-outline-primary btn-sm"
              (click)="updatepayment(pymtdetails)">
                Served
              </button> -->
              <button class="btn btn-outline-primary btn-sm" (click)="navigateToDetails(pymtdetails)"  [disabled]="pymtdetails.freeze">
                View Details
              </button>
              
            </td>
          </tr>
        </tbody>
      </table>
      <table class="table mb-0"
             *ngIf=" pymtByCust.length === 0">
        <thead>
          <tr>
            <th>Please Search for a Customer</th>
            
            <!-- <th>Password</th> -->
          </tr>
        </thead>
       
      </table>
    </div>
    <mat-paginator  [length]="filteredPaymentDetails.length" [pageSize]="pageSize" (page)="onPageChange($event)"></mat-paginator>

  </div>
</div>

