mat-toolbar {
  background: #004a9f;
  color: white;

}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: #002b5c;
  color: white;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.example-container {
  width: 400px;
  height: 200px;
  margin: 12px;
  border: 1px solid #555;
}

mat-drawer-content {
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.content {
  height: 94%;
  border-radius: 10px;
  margin: 16px;
  margin-left: 32px;

  padding: 16px;

  overflow: auto;
}

mat-sidenav-container {
  height: 93%;
}



.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;

  mat-icon {
    margin-right: 8px;
  }
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: lightgrey;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: rgba(255, 255, 255, 0.5);
}

#login {
  // width: 100px;
  margin-left: auto;
  // margin-right: 50px;
}

.mat-toolbar.equal-boxes {
  display: flex;
  justify-content: space-between;
}

.mat-toolbar.equal-boxes>*:not(:first-child):not(:last-child) {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}


// #login > button{
//   float: left;
// }
.footer {
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-content {
  font-size: 14px;
  color: #666;
}