<mat-toolbar class="mat-elevation-z8 equal-boxes">
  <div>
    <button mat-icon-button mat-raised-button aria-label="Toggle sidenav"  *ngIf="drawer?.mode === 'over' && 'isHandset$ | async'" (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon"> menu </mat-icon>
    </button>
    
  </div>
    <div id="brand" *ngIf="isLoggedIn$ | async">
      <p>Cafeteria</p>
    </div>
    <div id="brand" *ngIf="!(isLoggedIn$ | async)" style="background: #004a9f; color: white; padding: 0 45% 0 45%;width: 100%;" >
      <p style="display: flex; align-items: center; padding: 8px 0;"><!--<img src="assets/images/Evercare-Logo.jpg" alt="Logo" class="logo-image" />-->
      Evercare's Cafeteria<p>
    </div>
    <!-- <button mat-button id="btnloginuser" *ngIf="isLoggedIn$">{{'Welcome '+authService.registration?.firstName}}</button> -->
    <div id="login">
    <button mat-button routerLink="login" *ngIf="!isLoggedIn$" >Login</button>
     <!-- <button mat-button routerLink="registration" *ngIf="isLoggedIn$">Register</button> -->
    <button mat-button (click)="onLogout()" *ngIf="isLoggedIn$ | async">Logout</button>
   </div>
</mat-toolbar>
  
<mat-sidenav-container>
  <!-- <mat-sidenav #sidenav="matSidenav" *ngIf="isLoggedIn$ | async" mode='side' class="mat-elevation-z8 "> -->
  <mat-sidenav *ngIf="isLoggedIn$ | async" #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
  [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" class="mat-elevation-z8"> 
    <button mat-button class="menu-button" routerLink="home">
      <!--<mat-icon>Menu</mat-icon>-->
      <span>Welcome, {{ this.registration?.firstName }}</span>
    </button>
    <!--<button mat-button class="menu-button" routerLink="/registrations">-->
      <!--<mat-icon>Administration</mat-icon>-->
    <!--  <span>Registration</span>
    </button>-->
    <mat-divider></mat-divider>
    <!-- <button mat-button  class="menu-button" routerLink="/home"> -->
      <!--<mat-icon>Administration</mat-icon>-->
      <!-- <span>Home</span> -->
    <!-- </button> -->

    <div *ngFor="let rte of routes">
      <button mat-button class="menu-button" (click)="navigateurl(rte)">
        <span>{{ rte.menuName }}</span>
      </button>
    </div>

    <mat-divider></mat-divider>
    <button mat-button class="menu-button" routerLink="/administration">
     <!-- <mat-icon>Administration</mat-icon>-->
      <span>Administration</span>
    </button>

    <div class="mb-4">
      <div>
       
        
        <p>Freeze Status: {{ user?.freeze ? 'Frozen' : 'Not Frozen' }}</p>
        
      </div>
      <div class="item">
        <label class="switch">
          <input type="checkbox" id="cheap" [(ngModel)]="freezeStatus" (change)="toggleFreezeStatus()" />
          <span [ngClass]="{'slider': true, 'round': true, 'frozen': freezeStatus, 'not-frozen': !freezeStatus}"></span>
        </label>
      </div>
      
      
     
    </div>

    <button mat-button class="menu-button" routerLink="/report">
      <mat-icon>report</mat-icon>
      <span>Report</span>
    </button>

    <!-- ... Your main content ... -->

<app-footer></app-footer>

   
  </mat-sidenav>

  <app-loader></app-loader>
  
  <mat-sidenav-content >
    <div *ngIf="isLoading$ | async">
      <mat-progress-spinner class="spinner"
        mode="indeterminate"
        diameter="50"
        color="primary"
      ></mat-progress-spinner>
    </div>
    <div class="content mat-elevation-z8" [class.hide]="isLoading$ | async">
      <router-outlet></router-outlet>
    </div>
    
    
  </mat-sidenav-content>
</mat-sidenav-container>


