<h2 mat-dialog-title  style="background-color: #004a9f; color: white; padding: 8px 16px;  margin: 0;">Menu List</h2>
<mat-dialog-content>
  <div *ngIf="NoMenuSelected" class="alert alert-error">
    No Menu Selected.
  </div>
  <mat-form-field>
    <input matInput type="text" placeholder="Search" [(ngModel)]="searchText" (input)="filterMenuList()" />
  </mat-form-field>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Menu</th>
        <th>Amount</th>
       <!-- <th>Discounted Amount</th>-->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let menu of filteredMenuList">
        <td>
          <input type='checkbox' [(ngModel)]="menu.selected" (change)="updateSelectedMenus(menu)">
        </td>
        <td>{{ menu.name }}</td>
        <td>{{ menu.amount  | currency: 'NGN'  }}</td>
        <!--<td>{{ (menu.amount * 0.6) | currency }}</td>-->
      </tr>
    </tbody>
  <!--  <tfoot>
      <tr>
        <td colspan="2">Total Amount</td>
        <td>{{ calculateTotalAmount() | currency }}</td>
        <td>{{ calculateTotalDiscountedAmount() | currency }}</td>
      </tr>
    </tfoot>-->
  </table>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Close</button>
  <button mat-raised-button (click)="addToCart()">Add to Cart</button>
</mat-dialog-actions>
