@import "https://s3-us-west-2.amazonaws.com/s.cdpn.io/584938/dashboard.scss";
$bg: #1b2431;
$light-text: #738297;
$dark-text: #273142;
$light-bg: #313D4F;

// global stuff
body {
  background-color: $bg;
  color: #202020;
  font-family: "Montserrat", "Helvetica", "Open Sans", "Arial";
  font-size: 13px;
}

a:hover {
  text-decoration: none;
}

p,
figure {
  margin: 0;
  padding: 0;
}

@mixin clear() {

  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.navbar {
  background-color: $bg;
}

.sidebar {
  background-color: $bg;
  box-shadow: none;

  .nav-link {
    border-left: 5px solid transparent;
    color: $light-text;
    padding: .5rem .75rem;

    &:hover {
      color: white;
    }

    &.active {
      border-left: 5px solid $light-text;
      color: white;
    }
  }

  .zmdi {
    display: inline-block;
    font-size: 1.35rem;
    margin-right: 5px;
    min-width: 25px;
  }
}

.card-list {
  @include clear();
  width: 100%;
}

.card {
  border-radius: 8px;
  color: white;
  padding: 10px;
  position: relative;

  .zmdi {
    color: white;
    font-size: 28px;
    opacity: 0.3;
    position: absolute;
    right: 13px;
    top: 13px;
  }

  .stat {
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 12px;
    margin-top: 25px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }

  .title {
    display: inline-block;
    font-size: 12px;
    padding: 10px 10px 0;
    text-transform: uppercase;
  }

  .value {
    font-size: 28px;
    padding: 0 10px;
  }

  &.blue {
    background-color: #44C8F5;
  }

  &.green {
    background-color: #98CB4F;
  }

  &.orange {
    background-color: #F99D1C;
  }

  &.red {
    background-color: #ED1D24;
  }

  &.black {
    background-color: #001D4E;
  }
}

.projects {

  border: 1px solid $light-bg;
  overflow-x: auto;
  width: 100%;

  &-inner {
    border-radius: 4px;
  }
}

.projects-header {
  color: white;
  padding: 22px;

  .count,
  .title {
    display: inline-block;
  }

  .count {
    color: #738297;
  }

  .zmdi {
    cursor: pointer;
    float: right;
    font-size: 16px;
    margin: 5px 0;
  }

  .title {
    font-size: 21px;

    +.count {
      margin-left: 5px;
    }
  }
}

.projects-table {
  background: #273142;
  width: 100%;

  td,
  th {
    color: white;
    padding: 10px 22px;
    vertical-align: middle;
  }

  td p {
    font-size: 12px;

    &:last-of-type {
      color: $light-text;
      font-size: 11px;
    }
  }

  th {
    background-color: $light-bg;
  }

  tr {
    &:hover {
      background-color: lighten($dark-text, 5%);
    }

    &:not(:last-of-type) {
      border-bottom: 1px solid $light-bg;
    }
  }

  .member {

    figure,
    .member-info {
      display: inline-block;
      vertical-align: top;
    }

    figure+.member-info {
      margin-left: 7px;
    }

    img {
      border-radius: 50%;
      height: 32px;
      width: 32px;
    }
  }

  .status>form {
    float: right;
  }

  .status-text {
    display: inline-block;
    font-size: 12px;
    margin: 11px 0;
    padding-left: 20px;
    position: relative;

    &:before {
      border: 3px solid;
      border-radius: 50%;
      content: "";
      height: 14px;
      left: 0;
      position: absolute;
      top: 1px;
      width: 14px;
    }

    &.status-blue:before {
      border-color: #1C93ED;
    }

    &.status-green:before {
      border-color: #66B92E;
    }

    &.status-orange:before {
      border-color: #DA932C;
    }

    &.status-red:before {
      border-color: #D65B4A;
    }
  }
}

// selectric plugin styling
.selectric {
  background-color: transparent;
  border-color: $light-bg;
  border-radius: 4px;

  .label {
    color: $light-text;
    line-height: 34px;
    margin-right: 10px;
    text-align: left;
  }

  &-wrapper {
    float: right;
    width: 150px;
  }
}

// charts
.chart {
  border-radius: 3px;
  // box-shadow: 0 0 10px -3px black;
  border: 1px solid $light-bg;
  color: white;
  padding: 10px;
  position: relative;
  text-align: center;

  canvas {
    height: 400px;
    margin: 20px 0;
    width: 100%;
  }

  .actions {
    margin: 15px;
    position: absolute;
    right: 0;
    top: 0;

    span {
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      margin: 5px;
      padding: 4px;
    }

    .btn-link {
      color: white;

      i {
        font-size: 1.75rem;
      }
    }
  }

  .title {
    font-size: 18px;
    margin: 0;
    padding: 15px 0 5px;

    +.tagline {
      margin-top: 10px;
    }
  }

  .tagline {
    font-size: 12px;
  }
}

.danger-item {
  border-left: 4px solid #A84D43;
}

.zmdi {
  line-height: 1;
  vertical-align: middle;
}



// your animation
@keyframes shakeAnimation {
  0% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-10px);
  }

  40% {
    transform: translateX(10px);
  }

  60% {
    transform: translateX(-10px);
  }

  80% {
    transform: translateX(10px);
  }

  100% {
    transform: translateX(0);
  }
}

.shake {
  animation: shakeAnimation 2.5s ease-in-out infinite;
}

.disabled-button {
  background-color: grey;
  color: white;
}

/* For screens less than 400px width */
@media (max-width: 400px) {
  .hide-small-screen {
    display: none;
  }

  .show-small-screen {
    display: table-cell;
  }

  .button-container {
    text-align: center;
    margin-top: 10px;
  }
}

/* For screens greater than 400px width */
@media (min-width: 401px) {
  .hide-large-screen {
    display: none;
  }

  .show-large-screen {
    display: table-cell;
  }

  .button-container {
    text-align: right;
  }


}

thead {
  background: #395870;
  -webkit-background: linear-gradient(#49708f, #293f50);
  -moz-background: linear-gradient(#49708f, #293f50);
  // background: linear-gradient(rgb(0, 74, 159), #293f50);
  background: rgb(0, 74, 159);
  color: #fff;
}

.mytable th {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;
  border-bottom: 3px solid #B0BEC5;
}

.mytable td {
  border-right: 0px solid #fff;
  border-left: 0px solid #e8e8e8;
  border-top: 0px solid #fff;
  border-bottom: 0px solid #e8e8e8;
  padding: 7px 7px;
  position: relative;
  transition: all 300ms;
}

mat-progress-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(1px);
}

/* CSS */
.dialog-fullscreen {
  width: 100% !important;
  height: 100% !important;
}

/* styles.scss */
th {
  background-color: rgba(102, 185, 46, 0.7);

  /* Green background color */
  font-weight: bold;
  /* Bold text */
  text-align: center;
  /* Center align text */
}


/* new dev*/

* {
  box-sizing: border-box;
}

p {
  font-family: Lato;
}

#dashboard {
  display: flex;
  flex-direction: column;
  background: #cfd8dc;
  height: 100vh;
}


.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background: #90a4ae; */
  flex-wrap: wrap;
  background: #2196f3;
  color: white;
  padding: 0.5rem 2rem;
  min-height: 80px;
}


.dash__controls {
  display: flex;
  justify-content: flex-end;
  border: 1px solid black;
  padding: 1rem;
}

.dashboard__header h1 {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 400;
}

.dash-row {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.dash-row+.dash-row {
  margin: 0rem 1rem;
}

.dash-row mat-card {
  flex: 1;
  min-width: 200px;
  min-height: 250px;
  margin: 1rem;
  padding: 10px;
}

mat-card-footer {
  display: flex;
  justify-content: flex-end;
  margin: 0.2rem;
}

#card-0-1 {
  background: #0C4160;
}

#card-0-2 {
  background: #EEE;
}

#card-1-1 {
  background: #2196f3;
}

/* Material manual overrides */

.mat-fab.mat-primary,
.mat-flat-button.mat-primary,
.mat-mini-fab.mat-primary,
.mat-raised-button.mat-primary {
  background: #2196f3;
}



@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

$transition-time: 2.3s;

body {
  font-family: 'Oswald', sans-serif;
  background-color: #212121;

  section {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;

    .row {
      align-items: center;
      height: 100vh;
    }
  }
}

.card2 {
  position: relative;
  height: 400px;
  width: 100%;
  margin: 10px 0;
  transition: ease all $transition-time;
  perspective: 1200px;

  &:hover {
    .cover {
      transform: rotateX(0deg) rotateY(-180deg);

      &:before {
        transform: translateZ(30px);
      }

      &:after {
        background-color: black;
      }

      h1 {
        transform: translateZ(100px);
      }

      .price {
        transform: translateZ(60px);
      }

      a {
        transform: translateZ(-60px) rotatey(-180deg);
      }
    }
  }

  .cover {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: ease all $transition-time;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    &:before {
      content: '';
      position: absolute;
      border: 5px solid rgba(255, 255, 255, .5);
      box-shadow: 0 0 12px rgba(0, 0, 0, .3);
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      z-index: 2;
      transition: ease all $transition-time;
      transform-style: preserve-3d;
      transform: translateZ(0px);
    }

    &:after {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      right: 0px;
      bottom: 0px;
      z-index: 2;
      transition: ease all 1.3s;
      background: rgba(0, 0, 0, .4);
    }

    &.item-a {
      background-image: url('https://media.npr.org/assets/img/2016/08/26/jollof1_custom-417abc55e39dc05e57cee8a64423df006bb973c2-s1100-c50.jpg');
    }

    &.item-b {
      background-image: url('https://www.mydiasporakitchen.com/wp-content/uploads/2017/07/Mydiasporakitchen-8.jpg-1024x1024.jpeg');
    }

    &.item-c {
      background-image: url('https://foodplanet.com.ng/wp-content/uploads/2020/07/Yam-Porridge.jpg');
    }

    h1 {
      font-weight: 400;
      position: absolute;
      bottom: 70px;
      left: 50px;
      color: white;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      z-index: 3;
      font-size: 1.5em;
      transform: translateZ(0px);
    }

    .price {
      font-weight: 00;
      position: absolute;
      top: 55px;
      right: 50px;
      color: white;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      z-index: 4;
      font-size: 2em;
      transform: translateZ(0px);
    }

    em {
      font-weight: 100;
      position: absolute;
      bottom: 30px;
      left: 50px;
      color: white;
      transform-style: preserve-3d;
      transition: ease all $transition-time;
      z-index: 3;
      font-size: 1em;
      transform: translateZ(0px);
    }
  }

  .card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #0b0f08;
    transform-style: preserve-3d;
    transition: ease all $transition-time;
    transform: translateZ(-1px);
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      transform-style: preserve-3d;
      transition: ease transform $transition-time, ease background .5s;
      transform: translateZ(-1px) rotatey(-180deg);
      background: transparent;
      border: 1px solid white;
      font-weight: 200;
      font-size: 1.3em;
      color: white;
      padding: 14px 32px;
      outline: none;
      text-decoration: none;

      &:hover {
        background-color: white;
        color: #0b0f08;
      }
    }
  }
}

#header {
  margin: 20px;
}

#header>h1 {
  text-align: center;
  font-size: 3rem;
}

#header>p {
  text-align: center;
  font-size: 1.5rem;
  font-style: italic;
}

@import url(https://fonts.googleapis.com/css?family=Lato&subset=latin-ext);

#head {
  width: 100%;
  height: 400px;
  margin-top: 300px;
}

#head-span {
  font-family: 'Lato', sans-serif;
  display: block;
  width: 200px;
  height: 200px;
  font-size: 100px;
  margin: 0 auto;
  font-weight: 600;

  &::before {
    content: "KINO";
    color: rgba(220, 220, 220, 0.5);
    font-size: 180px;
    //width: 350px;
    display: block;
    margin: -160px -110px;
    font-weight: 900;
    letter-spacing: 10px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  }
}


.card3 {
  max-width: 500px;
  margin: auto;
  color: black;
  border-radius: 20 px;
}

p {
  margin: 0px;
}

.container .h8 {
  font-size: 30px;
  font-weight: 800;
  text-align: center;
}

.btn.btn-primary {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA 51%, #77A1D3 100%);
  border: none;
  transition: 0.5s;
  background-size: 200% auto;
  margin-top: 35px;
}


.btn.btn.btn-primary:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}



.btn.btn-primary:hover .fas.fa-arrow-right {
  transform: translate(15px);
  transition: transform 0.2s ease-in;
}

.form-control {
  color: white;
  background-color: #223C60;
  border: 2px solid transparent;
  height: 60px;
  padding-left: 20px;
  vertical-align: middle;
}

.form-control:focus {
  color: white;
  background-color: #0C4160;
  border: 2px solid #2d4dda;
  box-shadow: none;
}

.text {
  font-size: 14px;
  font-weight: 600;
}

::placeholder {
  font-size: 14px;
  font-weight: 600;
}


/* === HEADING STYLE #2 === */
.two h1 {
  text-transform: capitalize;
}

.two h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 2px;
  content: "";
  background-color: #c50000;
}

.two h1 span {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 3em;
  padding-left: 0.25em;
  color: rgba(0, 0, 0, 0.4);
  padding-bottom: 10px;
}

.alt-two h1 {
  text-align: center;
}

.alt-two h1:before {
  left: 50%;
  margin-left: -30px;
}

.six h1 {
  text-align: center;
  color: #222;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  word-spacing: 1px;
  letter-spacing: 2px;
  color: rgb(0, 35, 85);
}

.six h1 span {
  line-height: 2em;
  padding-bottom: 15px;
  text-transform: none;
  font-size: .7em;
  font-weight: normal;
  font-style: italic;
  font-family: "Playfair Display", "Bookman", serif;
  color: #999;
  letter-spacing: -0.005em;
  word-spacing: 1px;
  letter-spacing: none;
}

.six h1:after,
.six h1:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 45px;
  height: 4px;
  content: "";
  right: 45px;
  margin: auto;
  background-color: #ccc;
}

.six h1:before {
  background-color: #d78b8b;
  left: 45px;
  width: 90px;
}

.para {
  font-weight: 600;
}

.feedback-level {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.level {
  background: white;
  padding: 13px;
  border-radius: 7px;
  border: solid 0.5px #e0e9fe;
  cursor: pointer;
}

.level:hover {
  box-shadow: #fe73a5 0 2px 5px;
}

.level:hover i {
  color: #fe73a5;
}

.level i {
  font-size: 40px;
}

.feedback-msg textarea {
  margin-top: 5px;
  border: solid 2px #e0e9fe;
  padding: 13px;
  border-radius: 7px;
  outline: none;
  font-size: 14px;
  color: #4b537c;
  font-weight: 500;
  letter-spacing: 1px;
  width: 100%;
  height: 80px;
  resize: none;
}

.agreement .checkbox {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 5px;
}

.agreement input {
  accent-color: #ff71a4;
}

.agreement a {
  color: #ff71a4;
  font-size: 12px;
  font-weight: 600;
}

.agreement label {
  font-size: 12px;
  font-weight: 600;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.buttons a {
  background: white;
  color: #4b537c;
  width: 80px;
  padding: 10px;
  text-align: center;
  border-radius: 4px;
}

.buttons a:hover {
  opacity: 0.9;
}

.buttons a:nth-child(1) {
  background: #fe71a4;
  color: #f8faff;
}

.repetitionBox {
  margin: auto;
  position: relative;
  text-align: center;
  color: #1e272e;
  overflow: hidden;
  width: 100%;
  height: 5rem;

  >* {
    font-size: 1em;
    line-height: 3.5rem;
    margin: 0;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(transparent, rgb(0, 35, 85));
    z-index: 99;
  }
}

.up>* {
  animation-name: up;
  animation-duration: 1750ms;
}

.down>* {
  animation-name: up;
  animation-duration: 2750ms;
  animation-direction: reverse;
}

@keyframes up {
  100% {
    transform: translateY(-100%);
  }
}

#valid {
  /* This bit sets up the horizontal layout */
  display: flex;
  flex-direction: row;

  /* This bit draws the box around it */
  border: 1px solid grey;

  /* I've used padding so you can see the edges of the elements. */
  padding: 1px;
}

#validinput {
  /* Tell the input to use all the available space */
  flex-grow: 2;
  /* And hide the input's outline, so the form looks like the outline */
  border: none;
}

/* remove the input focus blue box, it will be in the wrong place. */
#validinput:focus {
  outline: none;
}

/* Add the focus effect to the form so it contains the button */
#validinput:focus-within {
  outline: 1px solid blue
}

#validbutton {
  /* Just a little styling to make it pretty */
  border: 1px solid blue;
  background: blue;
  color: white;
}

.pop-outin {
  animation: 2s anim-popoutin ease infinite;
}

@keyframes anim-popoutin {
  0% {
    color: black;
    transform: scale(0);
    opacity: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0);
  }

  25% {
    color: red;
    transform: scale(2);
    opacity: 1;
    text-shadow: 3px 10px 5px rgba(0, 0, 0, 0.5);
  }

  50% {
    color: black;
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }

  100% {
    /* animate nothing to add pause at the end of animation */
    transform: scale(1);
    opacity: 1;
    text-shadow: 1px 0 0 rgba(0, 0, 0, 0);
  }
}