<h1>Welcome to Kitchen Restaurant</h1>
<div class="welcome-container">
   
    <carousel>
      <!-- <slide>
        <img src="assets/images/slide1.jpg" alt="Slide 1">
      </slide>
      <slide>
        <img src="assets/images/slide2.jpg" alt="Slide 2">
      </slide>
      <slide>
        <img src="assets/images/slide3.jpg" alt="Slide 3">
      </slide> -->
      <slide>
        <img id="header-img" src="https://image.freepik.com/free-vector/chef-character-design_1322-128.jpg" class="d-block w-100" alt="carousel-img-0">
      </slide>
      <slide>
        <img id="header-img" src="https://image.freepik.com/free-vector/various-bowls-filled-with-ramen-food_52683-44998.jpg" class="d-block w-100" alt="carousel-img-1">
      </slide>
      <slide class="carousel-item">
        <img id="header-img" src="https://image.freepik.com/free-vector/variety-sushi-logo_1078-37.jpg" class="d-block w-100" alt="carousel-img-2">
      </slide>
      <slide class="carousel-item">
        <img id="header-img" src="https://image.freepik.com/free-vector/hand-drawn-food-stickers-collection_52683-57285.jpg" class="d-block w-100" alt="carousel-img-3">
      </slide>
      <slide class="carousel-item">
        <img id="header-img" src="https://image.freepik.com/free-vector/spices-kitchen-pattern_8365-160.jpg" class="d-block w-100" alt="carousel-img-4">
      </slide>
      <slide class="carousel-item">
        <img id="header-img" src="https://image.freepik.com/free-vector/fast-food-seamless-pattern_1284-10646.jpg" class="d-block w-100" alt="carousel-img-5">
      </slide>
      <slide>
        <img id="header-img" src="https://img.freepik.com/free-vector/set-coffee-equipment_73637-499.jpg?size=338&ext=jpg" class="d-block w-100" alt="carousel-img-6">
      </slide>
      <slide>
        <img id="header-img" src="https://image.freepik.com/free-vector/wine-vineyard-set_1284-35916.jpg" class="d-block w-100" alt="carousel-img-7">
      </slide>
      <slide>
        <img id="header-img" src="https://image.freepik.com/free-vector/cocktails-hand-drawn-collection_1284-35709.jpg" class="d-block w-100" alt="carousel-img-8">
      </slide>
      <slide>
        <img id="header-img" src="https://image.freepik.com/free-vector/vector-illustration-whiskey-glass_1441-40.jpg" class="d-block w-100" alt="carousel-img-9">
      </slide>
      <slide>
        <img id="header-img" src="https://image.freepik.com/free-vector/vintage-brewing-badges-set_225004-934.jpg" class="d-block w-100" alt="carousel-img-10">
      </slide>
    </carousel>
    <a href="#" class="checkout-button">Check out Alacart Menu</a>
  </div>
  
