<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    <ng-container *ngIf="forgotpasswordForm">
      <form (ngSubmit)="checkEmail()" [formGroup]="forgotpasswordForm">
        <div class="form-group">
          <label for="emailId">Email</label>
          <input class="form-control"
                 id="userNameId"
                 type="text"
                 placeholder="Email (required)"
                 formControlName="userName" inputmode="email" [class.is-invalid]="forgotpasswordForm.get('userName')?.invalid && forgotpasswordForm.get('userName')?.touched">
                 <div *ngIf= " submitted && forgotpasswordForm.get('userName')?.errors" class="alert alert-danger">
                  <div *ngIf="forgotpasswordForm.get('userName')?.errors">
                    Incorrect Email address
                  </div>
                </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
          <button class="btn btn-outline-secondary" routerLink="../login" type="button">Cancel</button>
        </div>
      </form>
    </ng-container>
    <ng-container *ngIf="userExists">
      <form (ngSubmit)="resetPassword()">
        <div class="form-group">
          <label for="newPasswordId">New Password</label>
          <input
            class="form-control"
            id="newPasswordId"
            type="password"
            placeholder="New Password"
            formControlName="newPassword"
            required
          />
          <div *ngIf="isFieldInvalid('newPassword')" class="alert alert-danger">
            Please enter a new password (min. 6 characters)
          </div>
        </div>
        <div class="form-group">
          <label for="confirmNewPasswordId">Confirm New Password</label>
          <input
            class="form-control"
            id="confirmNewPasswordId"
            type="password"
            placeholder="Confirm New Password"
            formControlName="confirmNewPassword"
            required
          />
          <div *ngIf="isFieldInvalid('confirmNewPassword')" class="alert alert-danger">
            Please confirm the new password
          </div>
          <div *ngIf="isPasswordMismatch" class="alert alert-danger">
            Password and Confirm Password do not match
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Reset Password</button>
          <button class="btn btn-outline-secondary" routerLink="../login" type="button">Cancel</button>
        </div>
      </form>
    </ng-container>
  </div>
</div>
