<div class="signin-content">
  <mat-card>
    <mat-card-content>
      <img src="assets/images/logo.png" alt="Logo" class="logo-image" />

      <p>{{ errorMessage }}</p>
      <p>{{ successMessage }}</p>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="resetPassword()">
        <p>Please reset your password</p>
        <div>
          <input type="text" id="username" formControlName="username" placeholder="Username">
          <div *ngIf="submitted && f.username.errors" class="error">
            <div *ngIf="f.username.errors.required">Username is required</div>
          </div>
        </div>

        <div>
          <input type="password" id="newPassword" formControlName="newPassword" placeholder="New Password">
          <div *ngIf="submitted && f.newPassword.errors" class="error">
            <div *ngIf="f.newPassword.errors.required">New password is required</div>
            <div *ngIf="f.newPassword.errors.minlength">New password must be at least 6 characters long</div>
          </div>
        </div>

        <div>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password">
          <div *ngIf="submitted && f.confirmPassword.errors" class="error">
            <div *ngIf="f.confirmPassword.errors.required">Confirm password is required</div>
            <div *ngIf="f.confirmPassword.errors.passwordMismatch">Passwords do not match</div>
          </div>
        </div>

        <div>
          <button type="submit" [disabled]="!forgotPasswordForm.valid">Reset Password</button>
        </div>

        <div *ngIf="successMessage">
          <p>Password reset successful. Click <a href="../login">here</a> to login.</p>
        </div>

        <div *ngIf="!successMessage">
          <button  [routerLink]="['/login']">Go Back</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
